body{
 margin:0;
 position:relative;
 height:100vh;
 min-height:100vh;
}

/*ここからヘッダー*/
.header-wrapper{
 background:#eee;
}
.logo{
 padding:1rem 1.5rem;
}
/*ここまでヘッダー*/


/*ここからメイン*/
.main-wrapper{
 text-align:center;
 min-width:60rem;
}
.main-container{
 background:#eee;
 width:60rem;
 min-width:60rem;
 margin:0 auto;
 padding:4rem 2rem;
 text-align:center;
 margin-top:5rem;
}
.main-title{
 font-size:1.25rem;
 font-weight:normal;
 margin:0;
 text-align: left;
}
.new-form tr{
  margin-bottom: 1.5rem;
}
.new-form th{
  width:30%;
}
.new-form td{
  width:70%;
}
.questions-area{
  position: relative;
  padding:0.25rem 0.5rem;
}
.answers label{
  margin-bottom: 0;
}
.required{
  position:absolute;
  right:4rem;
  color:#fff;
  background:red;
  padding:0.25rem 0.5rem;
  line-height: 1rem;
}
.last-name,
.first-name,
.last-furigana,
.first-furigana{
  width:15rem !important;
}
.sex-names{
  margin-right:2rem;
}

.tell-nums{
  width:8rem !important;
}
.e-mail1{
  width:18rem !important;
}
.e-mail2{
  width:12rem !important;
}
#sendBtn{
 width:15rem;
}
.forget-pass{
 padding:3rem;
}
#new-member-btn{
 color:#fff;
 width:15rem;
}

/*ここまでメイン*/

/*ここからフッター*/
.footer-wrapper{
 text-align:center;
 margin-top:2.5rem;
 min-width:35rem;
}
/*ここまでフッター*/
