body{
 margin:0;
 position:relative;
 height:100vh;
 min-height:100vh;
}

/*ここからヘッダー*/
.header-wrapper{
 background:#eee;
 margin-bottom: 3rem;
}
.logo{
 padding:1rem 1.5rem;
}
/*ここまでヘッダー*/


/*ここからメイン*/
.main-wrapper{
 width:85rem;
 margin:0 auto;
 background: #eee;
 padding:2rem 1rem;
 display: flex;
}
.containers{
  background: #fff;
  padding:2rem 1rem;
}
.main-container1{
  width:50rem;
  margin-right: 2rem;
  margin-left: 3rem;
}
.main-container2{
  width:25rem;
  min-height:21rem;
  height:21rem;
}
.main-title{
 font-size: 1.25rem;
 font-weight:normal;
 padding-left:1rem;
 text-align: left;
 margin:0 0 2rem 0;
}
.main-txt{
 font-size:1.25rem;
 text-align: left;
}
.total-value,
.send-value,
.point-value{
  font-size:1rem;
  padding-left:1rem;
  margin:0 0 1rem 0;
}
.gtotal-value{
  padding-left:1rem !important;
  margin:0 0 1rem 0;
}
.gtotal-area p{
  border-top:1px solid rgba(0,0,0,0.12);
  padding: 1rem 0;
}
.gtotal-area th,
.gtotal-area td{
  font-weight: bold !important;
  font-size:1.25rem !important;
}
.buy-btn-area{
  text-align: center;
}
#buyBtn{
 color:#fff !important;
 width: 20rem !important;
 margin-bottom:2rem;
}
#table1 th{
  width:30%;
}
#table1 td{
  width:70%;
}
#table2 tr{
  border-bottom: none !important;
}
#table2 th,
#table2 td{
  padding:0 !important;
  font-weight: normal;
  font-size: 1.2rem;
}
#table2 td{
text-align: right;
}
.left-area{
  text-align: center;
}
.shohin-areas{
  position: relative;
}
.shohin-areas p{
  margin-bottom: 0.5rem;
}
.shohins{
  width: 8rem;
  height:8rem;
  margin-bottom: 0.5rem;
}
.check-area{
  margin-bottom: 0;
}
.shohin-names{
  font-size: 1.25rem;
  margin-bottom: 1rem !important;
}
.delete{
  position: absolute;
  right:0;
  top:0;
}
/*ここまでメイン*/

/*ここからフッター*/
.footer-wrapper{
 text-align:center;
 margin-top:2.5rem;
 min-width:35rem;
}
/*ここまでフッター*/
