body{
 margin:0;
 position:relative;
 height:100vh;
 min-height:100vh;
}

/*ここからヘッダー*/
.header-wrapper{
 background:#eee;
 position: relative;
 margin-bottom: 1.5rem;
}
.logo{
 padding:1rem 1.5rem;
 display: inline-block;
 margin-bottom: 0;
}
/*ここまでヘッダー*/

/*ここからトレンド*/
.trend-wrapper{
  width:100%;
}
.trend-images{
  background-image: url('../images/trendimage.jpg');
  background-size: cover;
  height:23rem;
  position: relative;
}
.curtain{
  position: absolute;
  background: black;
  top:0;
  left:0;
  bottom:0;
  right:0;
  opacity: 0.6;
  color:#fff;
  font-size: 2rem;
  padding:4rem;
}
/*ここまでトレンド*/



/*ここからメイン*/
.main-wrapper{
 text-align:center;
 min-width:60rem;
}
.main-container{
 background:#eee;
 width:60rem;
 min-width:60rem;
 margin:0 auto;
 padding:4rem 2rem;
 text-align:center;
 margin-top:5rem;
}
.main-title{
 font-size:1.5rem;
 font-weight:normal;
 margin:0 0 1.5rem 0;
 text-align: left;
}
.search-area{
  text-align: right;
  display:inline-block;
  position: absolute;
  right:2rem;
  margin-top: 0.25rem;
}
#logIn,
#cart{
  margin-left:1.5rem;
}
#searchTxt{
  width:15rem;
}
#searchBtn{
  color:#fff;
}
#cartTable th{
  width:30%;
}
#cartTable td{
  width:70%;
}
.left-area{
  text-align: center;
}
.shohin-areas{
  position: relative;
}
.shohin-areas p{
  margin-bottom: 0.5rem;
}
.shohins{
  width: 8rem;
  height:8rem;
  margin-bottom: 0.5rem;
}
.check-area{
  margin-bottom: 0;
}
.shohin-names{
  font-size: 1.25rem;
  margin-bottom: 1rem !important;
}
.back-area{
  margin-top:3rem;
  text-align: left;
}
.back-btn-area{
  margin-bottom: 0;
}
/*ここまでメイン*/

/*ここからフッター*/
.footer-wrapper{
 text-align:center;
 margin-top:2.5rem;
 min-width:35rem;
}
/*ここまでフッター*/
