body{
 margin:0;
 position:relative;
 height:100vh;
 min-height:100vh;
}

/*ここからヘッダー*/
.header-wrapper{
 background:#eee;
 position: relative;
 margin-bottom: 1.5rem;
}
.logo{
 padding:1rem 1.5rem;
 display: inline-block;
 margin-bottom: 0;
}
/*ここまでヘッダー*/

/*ここからトレンド*/
.trend-wrapper{
  width:100%;
}
.trend-images{
  background-image: url('../images/trendimage.jpg');
  background-size: cover;
  height:23rem;
  position: relative;
}
.curtain{
  position: absolute;
  background: black;
  top:0;
  left:0;
  bottom:0;
  right:0;
  opacity: 0.6;
  color:#fff;
  font-size: 2rem;
  padding:4rem;
}
/*ここまでトレンド*/



/*ここからメイン*/
.main-wrapper{
 text-align:center;
 min-width:80rem;
}
.main-container{
 background:#eee;
 width:80rem;
 min-width:60rem;
 margin:0 auto;
 padding:4rem 1rem;
 text-align:center;
 margin-top:5rem;
}
.left-side,
.right-side{
  background: #a9a9a9;
  display: inline-block;
}
.left-side{
  width:25rem;
  margin-right: 1rem;
}
.right-side{
  width: 50rem;
}
/*ここまでメイン*/

/*ここからフッター*/
.footer-wrapper{
 text-align:center;
 margin-top:2.5rem;
 min-width:35rem;
}
/*ここまでフッター*/
